 body {
   background-color: #232323;
   margin: 0;
   font-family: "Papyrus", "Avenir";
 }
 /*Britannic*/

 .square {
   width: 30%;
   background: purple;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 15%;
   transition: background 0.6s;
   --webkit-transition: background 0.6;
   --moz-transition: background 0.6;

 }

 #container {
   margin: 20px auto;
   max-width: 600px;
 }

 #colorDisplay {
   font-size: 200%;
 }

 h1 {
   color: #fff;
   text-align: center;
   background: steelblue;
   line-height: 1.1;
   letter-spacing: 5.5px;
   margin: 0;
   font-weight: 600;
   padding: 20px 0;
   text-transform: uppercase;
 }

 #message {
   /*font-size: 25px;*/
   display: inline-block;
   width: 20%;
   font-weight: 800;
 }

 #stripe {
   background: #fff;
   text-align: center;
   height: 30px;
   color: #000;
 }

 .selected {
   color: white;
   background: steelblue;
 }

 button {
   border: none;
   background: none;
   text-transform: uppercase;
   font-size: 16px;
   height: 100%;
   font-weight: 700;
   color: steelblue;
   letter-spacing: 1px;
   transition: all .4s;
   --webkit-transition: all 0.6;
   --moz-transition: all 0.6;
   font-family: "Papyrus";
 }

  button:hover {
    color: white;
    background: steelblue;
    outline: none;
  }
